<div class="user-details">
  <h3><span>User:</span> <%= message.user %></h3>
  <p>
    <span>Date Added:</span> <%= message.added.toDateString() %>, <%= message.added.getHours() %>:<%=
    message.added.getMinutes() %>:<%= message.added.getSeconds() %>
  </p>
</div>
