<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main class="<%= messages.length !== 0 ? 'grid' : '' %>">
      <div class="create-message">
        <h2>Below are all created messages</h2>
        <a href="/new">Create a new message!</a>
      </div>

      <% if(messages.length === 0) { %>
      <div class="no-messages">
        <h3>No Messages To Display</h3>
        <p>Try creating a new message!</p>
      </div>
      <% } %> <% messages.forEach((message) => { %>
      <section data-id="<%= message.id %>">
        <%- include("../partials/user", {message}) %>
        <button class="delete">Delete</button>
      </section>
      <% })%>
    </main>
    <%- include("../partials/footer") %>
    <script src="/scripts/index.js"></script>
  </body>
</html>
